<h4>add a new stylist profile here: </h4>
<form action="/admin/stylist/new" method="post">
	
	<label for="stylist-name">Name: </label>
	<input id="stylist-name" name="stylist-name" type="text">
	
	<label for="specialty">Specialty: </label>
	<input id="specialty" name="specialty" type="text">

	<label for="img-url">Stylist Photo url: </label>
	<input id="img-url" name="img-url" type="text">
	
	<button type="submit" id="stylist-create">Submit</button>
</form>	

