<H2>$client.getName()</H2>
<form action="/stylist/$stylist.getId()/client/$client.getId()/updatename" method="post">
		<label for="new-name">new name: </label>
		<input id="new-name" name="new-name">
		
		<button type="submit" id="client-update">update your name</button>
</form>