<a href="/admin">admin</a>

<h2>Our Stylists:</h2>

<div class="stylist-page">
	#if($stylists)
		#foreach($stylist in $stylists)
		<div class="stylist-intro">
			<a class="stylist-link" href="stylist/$stylist.getId()">
				<h3>$stylist.getName()</h3>
				<p>An expert in: $stylist.getSpecialty()</p>
				<img src="$stylist.getImage()" alt="image of stylist $stylist.getName()">
			</a>
		</div>
		#end
	#end
</div>