<!DOCTYPE html>
<html>
 <head>
  <title>Stellar Styles</title>
  <link rel='stylesheet' href='/app.css'>
 </head>
 <body>

		<div class="header-main headers">
				<h3>Stellar Styles</h3>
				<a href="/">home</a>
		</div>
    #parse( $template )



 </body>
</html>
